
body{
    margin: 0;
    overflow: hidden;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.hidden{
    display: none;
}